<!--<section *ngIf="!identificado">-->
<section id="login" >


  <form class="formLog">

    <caption>Paciente</caption>
  <table>

    <tr>
      <th>Doctor</th>
      <th>Padecimiento</th>
      <th>Diagnostico</th>
      <th>Tratamiento</th>
      <th>Analisis</th>
      <th>Resultados</th>
      <th>Borrar</th>

    </tr>

    <!-- Agregar un *ngFor="receta in recetas"-->
    <tr>
      <td>Doctor Futterkiste {{receta.Doctor}}</td>
      <td>Padecimiento Futterkiste {{receta.Padecimiento}}</td>
      <td>Diagnostico Futterkiste {{receta.Diagnostico}}</td>
      <td>Tratamiento Futterkiste {{receta.Tratamiento}}</td>
      <td>Analisis Futterkiste {{receta.Analisis}}</td>
      <td>Resultados Futterkiste {{receta.Resultados}}</td>
      <th><button type="button" onclick="alert('Borrar esta columna?!')">Borrar</button></th>
    </tr>

  </table>

  </form>


</section>
