  <form #formIngreso="ngForm" action="http://localhost:3000/administrador-ingreso" class="formLog" method="post">

    <h1 class="logTit">LOGIN ADMI</h1>

    <input class="btn-frontend-input-login" type="text" placeholder="Write your name" name="name" >
    <input class="btn-frontend-input-login" type="password" placeholder="contraseña" name="password">

    <div class="btnLogin">
      <input type="submit" name="Enviar" class="btn-frontend-login">
    </div>
  </form>