<form #formIngreso="ngForm" action="http://localhost:3000/doctor-ingreso" class="formLog" method="post">

    <h1 class="logTit">LOGIN DOCTOR</h1>

    <input class="btn-frontend-input-login" type="text" placeholder="cedula" name="cedula" required >

    <div class="btnLogin">
      <input type="submit" name="Enviar" class="btn-frontend-login">
    </div>
  </form>