  <form #formIngreso="ngForm" action="http://localhost:3000/paciente-ingreso" class="formLog" method="post">

    <h1 class="logTit">LOGIN PACIENTE</h1>

    <input class="btn-frontend-input-login" type="text" placeholder="nss" name="nss" required >

    <div class="btnLogin">
      <input type="submit" name="Enviar" class="btn-frontend-login">
    </div>
  </form>