<head>
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <br><br>
    <h1>Inicio de seción - Pacientes</h1>
    <div class="row">
      <div class="col-12">
        <form action="http://localhost:3000/paciente-ingreso" class="formLog" method="post">
          <div class="form-group">
            <label>Número de seguro social</label>
            <input class="form-control" type="text" placeholder="JXXX99991" name="nss" >
          </div>
          {{#if message}}
            <span class="alert alert-danger">{{message}}</span>
          {{/if}}
          <br><br>
          <div class="form-check">
            <input type="submit" name="Enviar" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>