<head>
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
		<br>
		<h1>Recetar paciente</h1>
		<hr>
       <div class="row">
		<div class="col-12">
            
			{{#if message}}
            	<span class="alert alert-danger">{{message}}</span>
          	{{/if}}

			{{#if succ}}
            	<span class="alert alert-success">{{succ}}</span>
          	{{/if}}
          	<br><br>
		</div>
	   </div>
    </div>
</body>