<head>
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
		<br>
		<h1>Registro de pacientes</h1>
		<hr>
       <div class="row">
		<div class="col-12">
			<form action="http://localhost:3000/paciente" method = "post">
				<div class="form-group">
					<label>Nombre del paciente</label>
					<input class="form-control" type="text" placeholder="nombre" name="nombre"  required>
				</div>
				<div class="form-group">
					<label>Apellido del paciente</label>
    				<input class="form-control" type="text" placeholder="apellido" name="apellido" required>
				</div>
				<div class="form-group">
					<label>Numero de seguro social</label>
    				<input class="form-control" type="text" placeholder="No. Seguro" name="nss" required>				
				</div>
				<div class="form-group">
					<label>Póliza de seguro</label>
    				<input class="form-control" type="text" placeholder="Poliza de Seguro" name="poliza"  required>
				</div>
				<div class="form-check">
    				<input type="submit" name="Guardar" class="btn btn-primary">
          		</div>
			</form>
			{{#if message}}
            	<span class="alert alert-danger">{{message}}</span>
          	{{/if}}

			{{#if succ}}
            	<span class="alert alert-success">{{succ}}</span>
          	{{/if}}
          	<br><br>
		</div>
	   </div>
    </div>
</body>